.App {
  text-align: center;
}
.document{
  border-bottom: 1px solid black;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
td{
  border: 1px solid rgb(8, 8, 8);
}
tr > td:first-child{
  width: 10px;
  font-weight: bold;
}
td:nth-child(2){
  width: 40px;
  text-align: left;
}
td:nth-child(3){
  width: 100px;
  text-align: left;
}
td:nth-child(4){
  width: 40px;
  text-align: left;
}
table{
  width: 740px;
  margin:auto;
  margin-bottom: 0;
}
.date{
  width: 100px;
}
.left{
  text-align: left;
}

.sign{
  width: 300px;
  background-color: #61dafb;
}

.footer{
  display: flex;
  width: 710px;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin: auto;
  margin-bottom: 450px;
}